<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversor Excel ↔ DB</title>

    <script type="module" src="/static/excel.js"></script>
    <script type="module" src="/static/db.js"></script>
    <script type="module" src="/static/csv.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/c1dd1409d9.js"
      crossorigin="anonymous"
    ></script>

    <script>
      window.va =
        window.va ||
        function () {
          (window.vaq = window.vaq || []).push(arguments);
        };
    </script>
    <script defer src="/_vercel/analytics/script.js"></script>
  </head>

  <body class="bg-gray-100 min-h-screen flex items-start justify-center p-8">
    <div class="max-w-4xl w-full">
      <div class="text-center mb-10">
        <h1 class="text-3xl font-bold text-gray-800">
          Conversor Excel ↔ SQLite
        </h1>
        <p class="text-gray-500 mt-2">
          Converta arquivos Excel para banco de dados e vice-versa
        </p>
      </div>

      <div class="grid md:grid-cols-2 gap-6">
        <div
          id="excelBar"
          class="bg-white p-6 rounded-2xl shadow-md hover:shadow-lg transition flex flex-col"
        >
          <h2 class="text-xl font-semibold mb-4 text-gray-700">
            <i
              class="fa-solid fa-file-excel"
              style="color: rgb(39, 118, 74)"
            ></i>
            Excel → Banco (.db) <i class="fa-solid fa-database"></i>
          </h2>
          <input
            type="file"
            id="excelInput"
            accept=".xlsx, .xls"
            class="w-full mb-4 p-2 border rounded-lg focus:ring-2 focus:ring-blue-500 outline-none"
          />
          <button
            onclick="enviarExcel()"
            class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition font-bold"
          >
            Converter e baixar
          </button>
        </div>

        <div
          class="bg-white p-6 rounded-2xl shadow-md hover:shadow-lg transition flex flex-col"
        >
          <h2 class="text-xl font-semibold mb-4 text-gray-700">
            <i class="fa-solid fa-database"></i>
            Banco (.db) → Excel
            <i
              class="fa-solid fa-file-excel"
              style="color: rgb(39, 118, 74)"
            ></i>
          </h2>
          <input
            type="file"
            id="dbInput"
            accept=".db"
            class="w-full mb-4 p-2 border rounded-lg focus:ring-2 focus:ring-green-500 outline-none"
          />
          <button
            onclick="enviarDB()"
            class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition font-bold"
          >
            Converter e baixar para Excel
          </button>
        </div>

        <div
          class="bg-white p-6 rounded-2xl shadow-md hover:shadow-lg transition flex flex-col"
        >
          <h2 class="text-xl font-semibold mb-4 text-gray-700">
            <i
              class="fa-solid fa-file-excel"
              style="color: rgb(39, 118, 74)"
            ></i>
            Excel → CSV <i class="fa-solid fa-database"></i>
          </h2>
          <input
            type="file"
            id="CSVinput"
            accept="CSV"
            class="w-full mb-4 p-2 border rounded-lg focus:ring-2 focus:ring-purple-500 outline-none"
          />
          <button
            onclick="enviarCSV()"
            class="w-full bg-purple-600 text-white py-2 rounded-lg hover:bg-purple-700 transition font-bold"
          >
            Converter para CSV
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
